<h1>Log in</h1>


<% if flash[:errors] %>
  <ul>
  <% flash[:errors].each do |error| %>
    <li> <%= error %> </li>
  <% end %>
  </ul>
<% end %>

<form action="/session" method="POST">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>"
    >

  <label for="user-name">Username</label>
  <input type="text" id="user-name" value="<%= @user.user_name %>" name="user[user_name]">
  <br>
  <br>

  <label for="password">Password</label>
  <input type="password" id="password" value="<%= @user.password %>" name="user[password]">
  <br>
  <br>
  <input type="submit" value="Log In">

</form>
